In [88]:
def get_week(n, days):
    res = []
    i = 0
    while i < n:
        res.append(i // (24 * days))
        i+= 1
    return res

In [89]:
import numpy as np
np.array(get_week(100, 7))

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [90]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib.ticker as ticker
import datetime as DT

In [91]:
df_train = pd.read_csv("data/train_result.csv")
df_test = pd.read_csv("data/result/test.csv")

In [92]:
df_concat = pd.concat([df_train, df_test])
df_concat["date"] = df_train["Дата"].apply(lambda x: DT.datetime.strptime(x, "%Y-%m-%d %H:%M:%S"))
df_concat.sort_values(by = ["date"])

,Unnamed: 0,Unnamed: 0_x,Год,Месяц,День,Время,Канал,Все 18+_TVR,Все 55+_TVR,Все 18+_Share,...,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,date
0,0,0,2018,Ноябрь,1,05:00:00 - 06:00:00,ПЕРВЫЙ КАНАЛ,0.210000,0.120000,5.230000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-01 05:00:00
38,38,48,2018,Ноябрь,1,05:00:00 - 06:00:00,СТС,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-01 05:00:00
76,76,96,2018,Ноябрь,1,05:00:00 - 06:00:00,ТНТ,0.090000,0.170000,2.310000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-01 05:00:00
0,0,19,2018,Ноябрь,Day 1,24:00:00 - 25:00:00,ПЕРВЫЙ КАНАЛ,1.477773,2.368919,7.228518,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2018-11-01 05:00:00
19,19,95,2018,Ноябрь,Day 1,28:00:00 - 29:00:00,РЕН ТВ,0.300051,0.373147,8.784604,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2018-11-01 05:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70055,70055,87695,2020,Октябрь,31,28:00:00 - 29:00:00,РЕН ТВ,0.260000,0.330000,7.480000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-11-01 04:00:00
69983,69983,87623,2020,Октябрь,31,28:00:00 - 29:00:00,ПЕРВЫЙ КАНАЛ,0.000000,0.010000,0.070000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-11-01 04:00:00
70031,70031,87671,2020,Октябрь,31,28:00:00 - 29:00:00,СТС,0.010000,0.010000,0.270000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-11-01 04:00:00
70079,70079,87719,2020,Октябрь,31,28:00:00 - 29:00:00,ТНТ,0.060000,0.170000,1.710000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-11-01 04:00:00
70007,70007,87647,2020,Октябрь,31,28:00:00 - 29:00:00,РОССИЯ 1,0.390000,0.650000,10.960000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-11-01 04:00:00

In [93]:
dates_train = df_train["Дата"].apply(lambda x: DT.datetime.strptime(x, "%Y-%m-%d %H:%M:%S"))
dates_test = df_test["Дата"].apply(lambda x: DT.datetime.strptime(x, "%Y-%m-%d %H:%M:%S"))

In [94]:
dates_concat = list(sorted(set(pd.concat([dates_train, dates_test]))))

In [95]:
df_weeksmean = pd.DataFrame(list(zip(dates_concat, np.array(get_week(len(dates_concat), 7)))), columns = ["date", "index"])

In [96]:
df_weeksmean

                     date  index
0     2018-11-01 05:00:00      0
1     2018-11-01 06:00:00      0
2     2018-11-01 07:00:00      0
3     2018-11-01 08:00:00      0
4     2018-11-01 09:00:00      0
...                   ...    ...
17539 2020-11-01 00:00:00    104
17540 2020-11-01 01:00:00    104
17541 2020-11-01 02:00:00    104
17542 2020-11-01 03:00:00    104
17543 2020-11-01 04:00:00    104

[17544 rows x 2 columns]

In [97]:
pd_common = pd.merge(df_concat, df_weeksmean, left_on = "date", right_on = "date")
pd_common

,Unnamed: 0,Unnamed: 0_x,Год,Месяц,День,Время,Канал,Все 18+_TVR,Все 55+_TVR,Все 18+_Share,...,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,date,index
0,0,0,2018,Ноябрь,1,05:00:00 - 06:00:00,ПЕРВЫЙ КАНАЛ,0.21,0.12,5.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-01 05:00:00,0
1,19,24,2018,Ноябрь,1,05:00:00 - 06:00:00,РОССИЯ 1,0.29,0.71,7.26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-01 05:00:00,0
2,38,48,2018,Ноябрь,1,05:00:00 - 06:00:00,СТС,0.00,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-01 05:00:00,0
3,57,72,2018,Ноябрь,1,05:00:00 - 06:00:00,РЕН ТВ,0.40,0.33,9.96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-01 05:00:00,0
4,76,96,2018,Ноябрь,1,05:00:00 - 06:00:00,ТНТ,0.09,0.17,2.31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-01 05:00:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87715,69983,87623,2020,Октябрь,31,28:00:00 - 29:00:00,ПЕРВЫЙ КАНАЛ,0.00,0.01,0.07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-11-01 04:00:00,104
87716,70007,87647,2020,Октябрь,31,28:00:00 - 29:00:00,РОССИЯ 1,0.39,0.65,10.96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-11-01 04:00:00,104
87717,70031,87671,2020,Октябрь,31,28:00:00 - 29:00:00,СТС,0.01,0.01,0.27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-11-01 04:00:00,104
87718,70055,87695,2020,Октябрь,31,28:00:00 - 29:00:00,РЕН ТВ,0.26,0.33,7.48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-11-01 04:00:00,104
87719,70079,87719,2020,Октябрь,31,28:00:00 - 29:00:00,ТНТ,0.06,0.17,1.71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-11-01 04:00:00,104

In [99]:
tvr_18 = "Все 18+_TVR"
tvr_55 = "Все 55+_TVR"

share_18 = "Все 18+_Share"
share_55 = "Все 55+_Share"

targets = [tvr_18, tvr_55, share_18, share_55]

# print(pd_common[pd_common['index'] == 152])

for target in targets:
    df = pd_common.groupby('index')[target].mean()
#     print(df.loc[152])
    df_weeksmean['mean_index_target_{0}'.format(target)] = df_weeksmean['index'].apply(lambda x: df.loc[x])

In [100]:
pd_common

,Unnamed: 0,Unnamed: 0_x,Год,Месяц,День,Время,Канал,Все 18+_TVR,Все 55+_TVR,Все 18+_Share,...,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,date,index
0,0,0,2018,Ноябрь,1,05:00:00 - 06:00:00,ПЕРВЫЙ КАНАЛ,0.21,0.12,5.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-01 05:00:00,0
1,19,24,2018,Ноябрь,1,05:00:00 - 06:00:00,РОССИЯ 1,0.29,0.71,7.26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-01 05:00:00,0
2,38,48,2018,Ноябрь,1,05:00:00 - 06:00:00,СТС,0.00,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-01 05:00:00,0
3,57,72,2018,Ноябрь,1,05:00:00 - 06:00:00,РЕН ТВ,0.40,0.33,9.96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-01 05:00:00,0
4,76,96,2018,Ноябрь,1,05:00:00 - 06:00:00,ТНТ,0.09,0.17,2.31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-01 05:00:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87715,69983,87623,2020,Октябрь,31,28:00:00 - 29:00:00,ПЕРВЫЙ КАНАЛ,0.00,0.01,0.07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-11-01 04:00:00,104
87716,70007,87647,2020,Октябрь,31,28:00:00 - 29:00:00,РОССИЯ 1,0.39,0.65,10.96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-11-01 04:00:00,104
87717,70031,87671,2020,Октябрь,31,28:00:00 - 29:00:00,СТС,0.01,0.01,0.27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-11-01 04:00:00,104
87718,70055,87695,2020,Октябрь,31,28:00:00 - 29:00:00,РЕН ТВ,0.26,0.33,7.48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-11-01 04:00:00,104
87719,70079,87719,2020,Октябрь,31,28:00:00 - 29:00:00,ТНТ,0.06,0.17,1.71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-11-01 04:00:00,104

In [103]:
# result = pd_common[["date"] + ["mean_index_target_{0}".format(target) for target in targets]]

# result.iloc[range(0, result.shape[0], 5)]
df_weeksmean

,date,index,mean_index_target_Все 18+_TVR,mean_index_target_Все 55+_TVR,mean_index_target_Все 18+_Share,mean_index_target_Все 55+_Share
0,2018-11-01 05:00:00,0,1.390867,2.142595,7.555781,7.857113
1,2018-11-01 06:00:00,0,1.390867,2.142595,7.555781,7.857113
2,2018-11-01 07:00:00,0,1.390867,2.142595,7.555781,7.857113
3,2018-11-01 08:00:00,0,1.390867,2.142595,7.555781,7.857113
4,2018-11-01 09:00:00,0,1.390867,2.142595,7.555781,7.857113
...,...,...,...,...,...,...
17539,2020-11-01 00:00:00,104,1.177103,1.796759,6.974552,7.090621
17540,2020-11-01 01:00:00,104,1.177103,1.796759,6.974552,7.090621
17541,2020-11-01 02:00:00,104,1.177103,1.796759,6.974552,7.090621
17542,2020-11-01 03:00:00,104,1.177103,1.796759,6.974552,7.090621
17543,2020-11-01 04:00:00,104,1.177103,1.796759,6.974552,7.090621

In [104]:
result.to_csv("data/weeks_mean.csv")